section.promo
  .promo__inner
    h1.promo__title: span Семейный отдых на берегу Финского залива
    p.promo__desc: span Green Valley - это современная база отдыха в курортном районе для здорового отдыха всей семьёй