.promo {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../img/bg--promo.png);
  min-height: 400px;
  display: flex;
  align-items: flex-start;

  @media (min-width: $screen-lg) {
    align-items: center;
  }

  &__inner {
    width: 100%;
    max-width: $screen-lg;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(255,255,255,0.9);
    text-align: center;
    padding: 1em;

    @media (min-width: $screen-sm) {
      background-color: transparent;
      align-items: flex-start;
      text-align: left;
    }
  }

  &__title,
  &__desc {

    span {

      @media (min-width: $screen-sm) {
        background-color: rgba(255,255,255,0.9);
      }
    }
  }

  &__title {
    font-size: 1.125em;
    max-width: 16em;

    @media (min-width: $screen-sm) {
      font-size: 2.25em;
    }
  }

  &__desc {
    line-height: 1.4em;
    max-width: 26em;

    @media (min-width: $screen-sm) {
      font-size: 1.125em;
    }
  }
}