header.page-header(role="banner")
  .page-header__inner
    .page-header__logo
      include ../logo/logo

    .page-header__nav-menu
      include ../nav-menu/nav-menu

    .page-header__contact-info
      a(href="tel:+78127775588") +7 812 777-55-88
      p г. Санкт-Петербург, Приморское ш.600

    .page-header__burger
      include ../burger/burger

    .page-header__button
      a(href="#").btn
        span.btn--icon
        | Забронировать