.page-header {
  position: relative;
  min-height: 5em;
  background-color: $bg-color--light;
  border-bottom: 1px solid rgba(0,0,0,0.08);

  &__inner {
    width: 100%;
    max-width: $screen-lg;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    @media (min-width: $screen-lg) {
      justify-content: space-between;
    }
  }

  &__logo {

    @media (max-width: ($screen-lg - 1)) {
      width: 100%;
      text-align: center;
    }
  }

  &__nav-menu {
    display: none;

    @media (max-width: ($screen-lg - 1)) {
      position: absolute;
      top: calc(100% + 1px);
      left: 0;
      right: 0;
      background-color: $bg-color--light;
    }

    @media (min-width: $screen-lg) {
      display: block;
    }

    &--is-active {
      display: block;
    }
  }

  &__contact-info {
    display: none;

    @media (min-width: $screen-lg) {
      display: block;
    }

    a {
      display: block;
      font-size: 1.125em;
      color: currentColor;
      font-weight: 500;
      margin-bottom: 0.5rem;
      white-space: nowrap;
    }

    p {
      font-size: 0.875em;
      margin: 0;

      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
  }

  &__burger {
    position: absolute;
    top: 1.75em;
    right: 1em;

    @media (min-width: $screen-lg) {
      display: none;
    }
  }

  &__button {
    display: none;

    @media (min-width: $screen-lg) {
      display: block;
    }
  }
}