// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$btn-icon-name: 'btn--icon';
$btn-icon-x: 0px;
$btn-icon-y: 92px;
$btn-icon-offset-x: 0px;
$btn-icon-offset-y: -92px;
$btn-icon-width: 15px;
$btn-icon-height: 16px;
$btn-icon-total-width: 257px;
$btn-icon-total-height: 108px;
$btn-icon-image: '../img/sprite-png.png';
$btn-icon: (0px, 92px, 0px, -92px, 15px, 16px, 257px, 108px, '../img/sprite-png.png', 'btn--icon', );
$icon-logo-name: 'icon--logo';
$icon-logo-x: 0px;
$icon-logo-y: 0px;
$icon-logo-offset-x: 0px;
$icon-logo-offset-y: 0px;
$icon-logo-width: 257px;
$icon-logo-height: 88px;
$icon-logo-total-width: 257px;
$icon-logo-total-height: 108px;
$icon-logo-image: '../img/sprite-png.png';
$icon-logo: (0px, 0px, 0px, 0px, 257px, 88px, 257px, 108px, '../img/sprite-png.png', 'icon--logo', );
$spritesheet-width: 257px;
$spritesheet-height: 108px;
$spritesheet-image: '../img/sprite-png.png';
$spritesheet-sprites: ($btn-icon, $icon-logo, );
$spritesheet: (257px, 108px, '../img/sprite-png.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
