$btn-main-bg:                $orange;
$btn-main-color:             $text-color--lightest;
$btn-main-hover:             $orange-darker;

$btn-secondary-bg:           $green;
$btn-secondary-color:        $text-color--lightest;
$btn-secondary-hover:        $green-darker;

.btn {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: $btn-main-bg;
  background-image: none;
  color: $btn-main-color;
  margin: 0;
  padding: 0.75em 1.875em;
  border-radius: 5em;
  font-size: 0.875em;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 1.2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;

  .btn--icon {
    transform: translateY(-1px);
    margin-right: 0.75em;
  }

  &:hover {
    background-color: $btn-main-hover;
  }
}