nav.nav-menu(role="navigation")
  ul.nav-menu__list
    li.nav-menu__item
      a.nav-menu__link(href="#") Номера
    li.nav-menu__item
      a.nav-menu__link(href="#") Коттедж
    li.nav-menu__item
      a.nav-menu__link(href="#") Ресторан
    li.nav-menu__item
      a.nav-menu__link(href="#") Отдых
    li.nav-menu__item
      a.nav-menu__link(href="#") Контакты