.nav-menu {

  &__list {
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
    padding: 0;
    margin: 0;

    @media (min-width: $screen-lg) {
      flex-flow: row wrap;
    }
  }

  &__item {

    @media (min-width: $screen-lg) {
      margin-left: 0.5em;
      margin-right: 0.5em;
    }
  }

  &__link {
    @include nav-link-style;
    display: inline-block;
    color: currentColor;
    padding: 0.5em;

    &:hover {
      color: $link-hover;
    }

    @media (max-width: ($screen-lg - 1)) {
      text-align: center;
      display: block;
      padding-top: 1em;
      padding: 1em;
      border-bottom: 1px solid rgba(0,0,0,0.08);
    }
  }
}