.rest-types
  .rest-types__inner
    .rest-types__nav
      ul
        li: a.is-active(href="#family-rest") Семейный отдых
        li: a(href="#corp-rest") Корпоративный

    #family-rest.rest-types__content.rest-types__content--is-active
      h2.main-subtitle Здоровый отдых
      p.rest-types__desc Плавайте в бассейне, играйте в волейбол, футбол и другие игры. Устройте семейный пикник с шашлыками или снимите напряжение в бане или спа. <br>Почувствуйте отдых!
      ul.rest-types__feature-list
        li.rest-types__feature
          figure
            img(src="img/rest-types--feature-swim.png", alt="")
            figcaption Бассейн
        li.rest-types__feature
          figure
            img(src="img/rest-types--feature-sport.png", alt="")
            figcaption Спортивная площадка
        li.rest-types__feature
          figure
            img(src="img/rest-types--feature-billiard.png", alt="")
            figcaption Бильярд
        li.rest-types__feature
          figure
            img(src="img/rest-types--feature-spa.png", alt="")
            figcaption Спа
        li.rest-types__feature
          figure
            img(src="img/rest-types--feature-sauna.png", alt="")
            figcaption Бани
        li.rest-types__feature
          figure
            img(src="img/rest-types--feature-animation.png", alt="")
            figcaption Анимация

    #corp-rest.rest-types__content
      h2.main-subtitle Корпоративный
      p.rest-types__desc
        | Корпоративный отдых – это шанс для всех членов организации сблизиться в неформальных условиях, узнать друг о друге много нового, показать свойства характера в необычных ситуациях, а зачастую – и условиях настоящего экстрима.
      ul.rest-types__feature-list
        li.rest-types__feature
          figure
            img(src="img/rest-types--feature-swim.png", alt="")
            figcaption Бассейн
        li.rest-types__feature
          figure
            img(src="img/rest-types--feature-sport.png", alt="")
            figcaption Спортивная площадка
        li.rest-types__feature
          figure
            img(src="img/rest-types--feature-billiard.png", alt="")
            figcaption Бильярд
        li.rest-types__feature
          figure
            img(src="img/rest-types--feature-spa.png", alt="")
            figcaption Спа
        li.rest-types__feature
          figure
            img(src="img/rest-types--feature-sauna.png", alt="")
            figcaption Бани
        li.rest-types__feature
          figure
            img(src="img/rest-types--feature-animation.png", alt="")
            figcaption Анимация