.rest-types {

  &__inner {
    width: 100%;
    max-width: $screen-sm;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
  }

  &__nav {
    text-align: center;
    color: $gray;
    margin-top: 1rem;
    margin-bottom: 1rem;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: inline-flex;

      li {

        a {
          @include nav-link-style;
          color: currentColor;
          display: inline-block;
          position: relative;
          padding: 0.5em;

          &::before,
          &::after {
            position: absolute;
            content: '';
            background-color: $link-hover;
            bottom: 0;
            height: 1px;
            width: 0;
            transition: width 0.2s ease-in-out 0.1s;
          }

          &::before {
            left: 50%;
          }

          &::after {
            right: 50%;
          }

          &:hover {
            color: $link-hover;

            &::before,
            &::after {
              width: 15px;
              transition: width 0.2s ease-in-out 0s;
            }
          }

          &.is-active {
            color: $link-hover;

            &::before,
            &::after {
              width: 15px;
            }
          }
        }
      }
    }
  }

  &__content {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../img/bg--rest-types.png);
    text-align: center;
    padding: 1rem;
    display: none;

    @media (min-width: $screen-sm) {
      background-size: contain;
    }

    &--is-active {
      display: block;
    }
  }

  &__desc {
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }

  &__feature-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;
    display: none;

    @media (min-width: $screen-sm) {
      display: flex;
    }
  }

  &__feature {

    figure {
      display: block;
      margin: 0;
      margin-bottom: 2rem;

      img {
        margin-bottom: 1rem;
      }

      figcaption {
        font-size: 0.875em;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 1.4em;
        width: 90px;
        letter-spacing: 0.05em;
      }
    }
  }
}