$burger-width:               2.5rem;
$burger-height:              2px;
$burger-radius:              $burger-height / 2;
$burger-color:               $orange;

.burger {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
  display: block;

  span {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background-color: $burger-color;
    border-radius: $burger-radius;
    width: $burger-width;
    height: $burger-height;

    &::before,
    &::after {
      display: inline-block;
      content: '';
      position: absolute;
      background-color: $burger-color;
      border-radius: $burger-radius;
      width: $burger-width;
      height: $burger-height;
      left: 0;
    }

    &::before {
      bottom: 0.5rem;
    }

    &::after {
      bottom: -0.5rem;
    }
  }
}