doctype html
html(lang="ru")
  include ./_include/page-head
  title Document
  meta(name="description" content="")
  body
    include ./blocks/page-header/page-header
    include ./blocks/promo/promo
    include ./blocks/rest-types/rest-types

    include ./_include/page-bottom