@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/firasans-regular.woff2') format('woff2'),
       url('../fonts/firasans-regular.woff') format('woff'),
       url('../fonts/firasans-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/firasans-medium.woff2') format('woff2'),
       url('../fonts/firasans-medium.woff') format('woff'),
       url('../fonts/firasans-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PT Serif Caption';
  src: url('../fonts/ptserifcaption-regular.woff2') format('woff2'),
       url('../fonts/ptserifcaption-regular.woff') format('woff'),
       url('../fonts/ptserifcaption-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}