a,
area,
button,
[role='button'],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

[role='button'] {
  cursor: pointer;
}

html {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
          font-smoothing: antialiased;
  font-size: #{$base-font-size + '%'}; // 100% = 16 pixels
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: $font-family;
  color: $text-color;
}

img {
  box-sizing: content-box;
  max-width: 100%;
  height: auto;
  border: 0;
}

p {
  max-width: 35em;
  line-height: $line-height;
}

h1, h2, h3, h4 {
  font-weight: 400;
  font-style: normal;
  font-family: $font-family--heading;
}

small {
  font-size: $font-size--small;
}

b,
strong {
  font-weight: 500;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
}

a {
  text-decoration: none;
  background-color: transparent;
  transition: all ease-in-out 0.25s;
}

button {
  background-color: inherit;
  border: none;
}