// Width

$screen-xs:                   480px;
$screen-sm:                   768px;
$screen-md:                   992px;
$screen-lg:                   1200px;
$screen-xl:                   1440px;
$screen-xxl:                  1920px;


// Colors

$black:                       hsl(0, 0%, 0%);
$gray-darkest:                hsl(0, 0%, 15%);
$gray-darker:                 hsl(0, 0%, 20%);
$gray-darken:                 hsl(0, 0%, 30%);
$gray-dark:                   hsl(0, 0%, 40%);
$gray:                        hsl(0, 0%, 50%);
$gray-light:                  hsl(0, 0%, 60%);
$gray-lighten:                hsl(0, 0%, 70%);
$gray-lighter:                hsl(0, 0%, 88%);
$gray-lightest:               hsl(0, 0%, 97%);
$white:                       hsl(0, 0%, 100%);

$orange:                      #ff7435;
$orange-darker:               #e85715;
$green:                       #0ab89d;
$green-darker:                #079b84;

$text-color:                  $gray-darker;
$text-color--light:           $gray-dark;
$text-color--lightest:        $white;

$bg-color--light:             $white;

$link-hover:                  $orange;


// Typography

$font-family:                 "Fira Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-family--heading:        "PT Serif Caption", Times, Georgia, sans-serif;
$font-family--monospace:      Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;